[Unit]
Description = Amedas LCD

[Service]
Type = oneshot
ExecStart = PREFIX_BIN/amedas /etc/conf.d/amedas.conf

[Install]
WantedBy = multi-user.target
