[Unit]
Description = BME280 logging

[Service]
Type = oneshot
ExecStart = PREFIX_BIN/bme280 /etc/conf.d/bme280.conf

[Install]
WantedBy = multi-user.target
