[Unit]
Description = Check unmodified files

[Service]
Type = oneshot
ExecStart = PREFIX_BIN/check /etc/conf.d/check.conf

[Install]
WantedBy = multi-user.target
