[Unit]
Description = LCD clock

[Service]
ExecStart = PREFIX_BIN/clock
ExecStop = /bin/kill $MAINPID
Restart = always

[Install]
WantedBy = multi-user.target
