[Unit]
Description = Workflow on boot
After=network-online.target systemd-networkd-wait-online.service
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Type = oneshot
ExecStart = PREFIX_BIN/on_boot /etc/conf.d/on_boot.conf

[Install]
WantedBy = multi-user.target
